@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Teko&display=swap');
.wrapper{
  display: grid;
}
.message{
  display: grid;
  background-color: #D8E9F0;
  height: 4rem;
  min-width: 15rem;
  max-width: 20rem;
  border-radius: .5rem;
}
.messageLabel{
  font-family: Teko;
  font-size: 1.6rem;
  font-weight: 500;
  justify-self: center;
  align-self: center;
}
.date{
  text-align: center;
  width: 5.5rem;
  height: 1.5rem;
  border-radius: 0rem 0rem .5rem 0rem ;
  display: grid;
  justify-content: center;
}
.dateLabel{
  color: white;
  font-size: .8rem;
  font-weight: 600;
  font-family: 'Fira Sans';
  align-self: center;
}
.description{
  display: grid;
  min-width: 15rem;
  max-width: 20rem;
  height: 4rem;
  align-self: flex-end;
  border-radius: .0rem .0rem .5rem .5rem;
  background-color: #29252C;
}
.venu{
  color: white;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: .8rem;
  font-style: italic;
  align-self: center;
  justify-self: end;
  margin-right: .8rem;
  grid-column: 2 / span 2;
  grid-row: 3;
  margin-bottom: .6rem;
}
.time{
  color: white;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: .8rem;
  font-style: italic;
  align-self: center;
  justify-self: end;
  margin-right: .8rem;
  grid-column: 2 / span 2;
  margin-top: .6rem;
}